Django==2.2.3
pymysql==0.9.3
mysqlclient==1.4.1
beautifulsoup4==4.7.1
bs4==0.0.1
requests==2.21.0
Pillow==9.0.0
pylint==2.3.1
pylint-django==2.0.9
channels-redis==2.4.0
channels==2.2.0
django-password-reset==2.0