.widget-box {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    clear: both;
    margin-top: 16px;
    margin-bottom: 150px;
    position: relative;
}

.widget-box.widget-chat {
    overflow:hidden !important;
}

.widget-title{
    background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    /*background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}

.widget-content {
	padding: 12px 15px;
    border-bottom: 1px solid #cdcdcd;
}

.nopadding {
	padding: 0 !important;
}

.chat-content {
	height: 700px;
	padding: 15px;
}

.panel-left {
	margin-right: 250px;
}

.chat-messages {
    background: none repeat scroll 0 0 #FDFDFD;
    border: 1px solid #DDDDDD;
    height: 425px;
    overflow: auto;
    position: relative;
}

#chat-messages-inner p {
    padding: 10px;
    margin: 10px 0;
}
#chat-messages-inner p img {
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    margin-top: 6px;
}

#chat-messages-inner .msg-block, #chat-messages-inner p.offline span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
    display: block;
    margin-left: 40px;
    padding: 10px;
    position: relative;
}

#chat-messages-inner .time {
    color: #999999;
    font-size: 11px;
    font-style: italic;
}
#chat-messages-inner .msg {
    display: block;
    margin-top: 10px;
}

.chat-message {
	padding: 7px 15px;
	margin: 7px 0 0;
}

.chat-message .input-box {
    display: block;
    margin-right: 90px;
}

.chat-message input[type=text] {
	margin-bottom: 0 !important;
    overflow: auto;
    position: relative;
    border: 1px solid #DDDDDD;
	width: 115%;
}

.chat-users {
	padding: 0 0 30px;
}

.panel-right {
	width: 249px;
	background-color: #f2f2f2;
	border-left: 1px solid #dddddd;
	position: absolute;
	right: 0;
	top: 37px;
	height: 2500px;
}

.panel-right .panel-title {
	width: 100%;
	background-color: #ececec;
	border-bottom: 1px solid #dddddd;
}
.panel-right .panel-title h5 {
	font-size: 12px;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
	padding: 6px 10px 5px;
    margin: 0;
}

.panel-right .panel-content {
	padding: 10px;
}

.chat-users .contact-list {
    line-height: 21px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.chat-users .contact-list li {
    border-color: #dddddd;
    border-style: none none solid;
    border-width: 0 0 3px;
    padding: 5px;
    position: relative;
}

.chat-message button {
	float: right;
}